# R -> Python
## Prerequisite
* Python 기본 Link -> [udacity](https://www.udacity.com/course/introduction-to-python--ud1110)
* 파이썬 아나콘다 설치 https://wikidocs.net/2824
    * Python 버젼은 2 & 3가 있는데 3로 설치
    * jupyter notebook이 같이 설치됨
    * 설치되면 Anaconda Prompt 들어가서 jupyter notebook 치면 실행됨
    * 파일 형식은 *.ipynb
    * 그리고 패키지 설치는 [conda cloud](https://anaconda.org/) 여기 들어가서 검색하면됨
    * 설치 방법은 conda install -c anaconda [package name]
* 데이터 타입(udacity 보면 나오긴 함, list가 많이 쓰임)
    * tuple
        * dat = (1, 2, "a")
    * dict
        * dat = {"a":1, "b":2}
    * list
        * dat = [1, 2, "a"]
    * 그리고 모르면 바로 구글링하면 됨
    * 근데 이거 설명서 쓰다보니깐 그냥 R 써도 될듯
    * 근데 깃헙이나 공개된 오픈소스 코드가 python이 더 많은 것 같음
    * 그리고 javascript도 많은데 원래 javascript는 데이터 분석용으로 못 쓰는데 node.js라고 python이랑 r이랑 equivalent한 거 있음

In [1]:
# Import는 R에서 패키지 읽는 것과 비슷함
# 중요한 package는 pandas랑 numpy
# dataframe 정리하는 패키지임
# as는 줄여서 부르는 것

import pandas as pd
import numpy as np

In [2]:
# dict 에서 dataframe 만들기
# dict는 이름 : 값 형식임
d = {'col1': [1, 2], 'col2': [3, 4]} # dict 형식임
df = pd.DataFrame(data=d) # 이런 형식임 패키지.메쏘드(뭐시기)
df

   col1  col2
0     1     3
1     2     4

In [3]:
# 당연히 list 로도 만들어짐
d = [1,2,3,4]
df = pd.DataFrame(data=d)
df

   0
0  1
1  2
2  3
3  4

In [4]:
# 데이터 확인 하는 거
# df.shape, len(df), type(df)가 체크하는 거고 print("~~~~".format()) 는 그냥 프린팅한거임
print("{} is shape of df \n {} is len of df \n {} is type of df.".format(df.shape, len(df), type(df)))

(4, 1) is shape of df
 4 is len of df
 <class 'pandas.core.frame.DataFrame'> is type of df.

In [6]:
# list 에서 dataframe 만들기
# 밑에다 붙이기 = concat
# 옆에다 붙이기 = merge
d1 = {'col1': [1, 2], 'col2': [3, 4]} # dict 형식임
d2 = {'col1': [5, 6], 'col2': [7, 8]} # dict 형식임
d3 = {'col1': [9, 10], 'col2': [11, 12]} # dict 형식임
df1, df2, df3 = pd.DataFrame(data=d1), pd.DataFrame(data=d2), pd.DataFrame(data=d3)
frames = [df1, df2, df3]
pd.concat(frames)

   col1  col2
0     1     3
1     2     4
0     5     7
1     6     8
0     9    11
1    10    12

## 실제 데이터로 해보자
* citibike 데이터임

In [10]:
# os는 내 os path 잡기위해 쓰는거임 그래서 listdir 이런거 할 수 있음
import os
os.listdir() # 현재 폴더 파일목록

['_map.html',
 'points.geojson',
 'udsal_tutorial.ipynb',
 't.ipynb',
 'README.md',
 '.ipynb_checkpoints',
 '.git',
 'RPYTHON.ipynb']

In [11]:
# 펑션 정의

def getCitiBikeCSV(datestring):
    print ("Downloading", datestring)
    ### First I will heck that it is not already there
    if not os.path.isfile(os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.csv"):
        if os.path.isfile(datestring + "-citibike-tripdata.csv"):
            # if in the current dir just move it
            if os.system("mv " + datestring + "-citibike-tripdata.csv " + os.getenv("PUIDATA")):
                print ("Error moving file!, Please check!")
        #otherwise start looking for the zip file
        else:
            if not os.path.isfile(os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.zip"):
                if not os.path.isfile(datestring + "-citibike-tripdata.zip"):
                    os.system("curl -O https://s3.amazonaws.com/tripdata/" + datestring + "-citibike-tripdata.zip")
                ###  To move it I use the os.system() functions to run bash commands with arguments
                os.system("mv " + datestring + "-citibike-tripdata.zip " + os.getenv("PUIDATA"))
            ### unzip the csv 
            os.system("unzip " + os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.zip")
            ## NOTE: old csv citibike data had a different name structure. 
            if '2014' in datestring:
                os.system("mv " + datestring[:4] + '-' +  datestring[4:] + 
                          "\ -\ Citi\ Bike\ trip\ data.csv " + datestring + "-citibike-tripdata.csv")
            os.system("mv " + datestring + "-citibike-tripdata.csv " + os.getenv("PUIDATA"))
    ### One final check:
    if not os.path.isfile(os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.csv"):
        print ("WARNING!!! something is wrong: the file is not there!")

    else:
        print ("file in place, you can continue")

In [15]:
# PUIDATA는 내 컴퓨터 환경변수임 그냥 Path 인데 축약해놓은 거라고 보면 됨
os.getenv("PUIDATA")

'/nfshome/kp2393/PUIdata'

In [12]:
# 2015년 1월, 8월 받자
datestring = ['201501','201508']
for date in datestring:
    getCitiBikeCSV(date)

Downloading 201501
file in place, you can continue
Downloading 201508
file in place, you can continue

In [13]:
df1 = pd.read_csv(os.getenv("PUIDATA") + "/" + datestring[0] + '-citibike-tripdata.csv')
df2 = pd.read_csv(os.getenv("PUIDATA") + "/" + datestring[1] + '-citibike-tripdata.csv')
dfs = [df1,df2]
df = pd.concat(dfs)
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,2
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,1
2,346,1/1/2015 0:04,1/1/2015 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,1
3,182,1/1/2015 0:04,1/1/2015 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,1
4,969,1/1/2015 0:05,1/1/2015 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,1

***
***
---

In [4]:
# tuple은 안되더라
d = (1,2,3,4)
df = pd.DataFrame(data=d)
df

ValueError: DataFrame constructor not properly called!

In [16]:
# 앞에 나온 citibike 받는 펑션은 새로 정의된 거임
# 쉬운 예로
def jay(text):
    for i in range(10):
        print(text)

In [21]:
jay("이제 이거 프린팅 하는 펑션인거임 근데 열번")

이제 이거 프린팅 하는 펑션인거임 근데 열번
이제 이거 프린팅 하는 펑션인거임 근데 열번
이제 이거 프린팅 하는 펑션인거임 근데 열번
이제 이거 프린팅 하는 펑션인거임 근데 열번
이제 이거 프린팅 하는 펑션인거임 근데 열번
이제 이거 프린팅 하는 펑션인거임 근데 열번
이제 이거 프린팅 하는 펑션인거임 근데 열번
이제 이거 프린팅 하는 펑션인거임 근데 열번
이제 이거 프린팅 하는 펑션인거임 근데 열번
이제 이거 프린팅 하는 펑션인거임 근데 열번

In [22]:
jay("ok?")

ok?
ok?
ok?
ok?
ok?
ok?
ok?
ok?
ok?
ok?